.login_box
{
    background: #fff;
    border: 1px solid #e3e3e3;
    margin-top: 10%;
    padding: 15px;
}
.form-control
{
    border-radius: 0px;
    border: 1px solid #222;
}
.btn-success
{
    width: 100%;
    border-radius: 0px;
    padding: 15px;
}
.login_head
{
    font-size: 20px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid #e3e3e3;
    font-weight: bold;
}