<header class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      Project Angular by Shubhajit Halder
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right">
      <a href="#">Account</a> | <a href="#">Sign Out</a>
    </div>
  </div>
</header>
<section class="container-fluid center_container height_100">
  <div class="row height_100">
      <app-sidebar></app-sidebar>
      <app-dashboard></app-dashboard>
  </div>
</section>